{% include "head.html" %}
<div class="container">
    <div class="jumbotron">
        <h1>{{title}}</h1>
        <p>Que hace guachín</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        <h1>Posts</h1>
        <ul>
            {% for item in items %}
            <li>{{ item.name}}</li>
            {% else %}
            <li>This would display if the 'item' collection were empty</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% include "footer.html" %}