<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}{{ page.title if page.title}} {% endblock %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="shortcut icon" type="image/ico" href="favicon.ico" />
        <link href="/css/style.css" rel="stylesheet">
        {% block styles %}{% endblock %}
    </head>
    <body class="main-wrap">
        {% include "../includes/header.html" %}
        <div class="content-wrap">
            {% block content %}
            {% endblock %}
        </div>
        {% include "../includes/footer.html" %}
        <script src="/js/vendor.js"></script>
        <script src="/js/main.js"></script>
        {% block extra_js %}{% endblock %}
    </body>
</html>